.admin,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh !important;
    box-sizing: border-box;
    background-color: rgba(179, 187, 198, 0.623);
    overflow: hidden;
}

.load_txt {
    width: 100%;
    height: 50%;
}

#btn_sts {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.show_btn {
    text-align: center;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

.show {
    width: 100%;
    margin-left: 5px;
}

.load {
    width: 100%;
    height: 50%;
}

.tabs {
    margin-bottom: 3rem;
}

.content {
    width: 100%;
    height: 100%;
    padding: auto;
}

.container {
    width: 100%;
    height: 70%;
    vertical-align: middle;
}

a {
    color: rgba(68, 68, 173, 0.721) !important;
    background-color: rgba(166, 185, 240, 0.72) !important;
    padding: 3px;
}

li {
    padding: 3px;
}

.active {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(68, 68, 173, 0.721) !important;
}

.tab-pane {
    height: 100%;
    padding: 5px;
}

.voter_address {
    background: rgba(185, 173, 135, 0.619);
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: auto;
    width: 60%;
    vertical-align: middle;
    letter-spacing: normal;
}

.status {
    font-weight: bolder;
    font-size: 50px;
}

.reg_vot {
    margin: auto;
    width: 90%;
    padding: 10px;
    vertical-align: middle;
}

#register_tab {
    overflow: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 576px) {
    .tabs {
        width: 40%;
    }

    .voter_address {
        width: 100%;
    }

    .reg_vot {
        display: flexbox;
    }

    .content {
        margin-left: 15px;
    }

    .tabs {
        margin-bottom: 0;
    }
}