<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/views/Voter_pg.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/web3.min.js"></script>
    <script src="/js/truffle-contract.min.js"></script>
    <title>Voter Dash</title>
</head>

<body class="">
    <h2 class="text-center">Voter Dashboard</h2>
    <h5 class="text-center">Login as <span style="color:darkslateblue;">
            <%- eml %>
        </span>
    </h5>
    <div class="text-center" id="loader">
        <h2>Loading.......</h2>
    </div>
    <!-- Nav tabs -->
    <div class="d-flex align-items-center justify-content-center admin" id="content">
        <span class="shadow" id="phase"></span>
        <div class="container d-flex flex-sm-column flex-row justify-content-between">
            <div class="tabs shadow p-1 bg-white rounded">
                <ul class="nav nav-tabs flex-column flex-sm-row nav-fill font-weight-bold" id="admin_tabs"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="samary-tab" data-toggle="tab" href="#samary" role="tab"
                            aria-controls="samary" aria-selected="true">Introduction</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="avotting_area-tab" data-toggle="tab" href="#votting_area" role="tab"
                            aria-controls="votting_area" aria-selected="false">Votting Area</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="tab"
                            aria-controls="result" aria-selected="false">Show Result</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="LogOut-tab" href="/logout" style="cursor:pointer;">Log Out</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content content shadow bg-white rounded">
                <div class="tab-pane active" id="samary" role="tabpanel" aria-labelledby="samary-tab">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="form-group flex-fill">
                            <h2 class="text-center">Welcome</h2>
                            <h3>Thank You for using our E-Voting web portal</h3>
                            <ul>
                                <li>The user registers for our service in registration phase</li>
                                <li>After the registration phase is over we will switch to validation phase</li>
                                <li>If the details entered by the user is authentic he will be authorised to cast vote
                                </li>
                            </ul>

                            <h2>User Manual</h2>
                            <ul>
                                <li>When in voting phase the user needs to go to voting Area where user will be able to
                                    view all the candidates available for that area </li>
                                <li>In the voting area the user can select the candidate of his choice by clicking'PRESS
                                    TO VOTE ME'</li>
                                <li>After the voting phase is over user can go to the result section to view the result
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="votting_area" role="tabpanel" aria-labelledby="votting_area-tab">
                    <h1 class="text-center">Voting Booth</h1>
                    <div class="d-flex align-content-between justify-content-around flex-wrap voting_booth"
                        id="voting_both">
                        <h2 class="text-center" id="voting_ph">voting phase not started yet</h2>
                        <!-- <div class="card p-3 m-3 shadow-lg" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted"> party</h6>
                                <button type="button" class="btn btn-primary">Go somewhere</button>
                            </div>
                        </div>
                        <div class="card p-3 m-3 shadow-lg" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <button type="button" class="btn btn-primary">Go somewhere</button>
                            </div>
                        </div>
                        <div class="card p-3 m-3 shadow-lg" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <button type="button" class="btn btn-primary">Go somewhere</button>
                            </div>
                        </div>
                        <div class="card p-3 m-3 shadow-lg" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <button type="button" class="btn btn-primary">Go somewhere</button>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="tab-pane" id="result" role="tabpanel" aria-labelledby="result-tab">
                    <div class="d-flex flex-row justify-content-between">
                        <h2>Here votting result shown</h2>
                    </div>
                    <div class="container">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Party</th>
                                    <th scope="col">Vote Count</th>
                                </tr>
                            </thead>
                            <tbody id=winer_tb>
                                <!-- <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>BJD</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>BJP</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>CONG</td>
                                    <td>0</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/views/Voter.js"></script>
    <!-- <script>
        var nodes = document.getElementsByClassName('card_btn').length;
        console.log(nodes)

        for (var i = 0; i < nodes.length; i++) {
            console.log(nodes[i])
            nodes[i].addEventListener('click', function (i) {
                console.log('You clicked element #' + i);
            }.bind(null, i));
            console.log(nodes[i])
        }
        console.log("Event are added successfully")
    </script> -->
    <% if (eml) { %>
        <script>
            var email = "<%= eml %>"
            console.log(email)
        </script>
        <% } %>
            <script type="text/javascript"
                src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

            <script type="text/javascript">
                emailjs.init('SClvF54g75hD3DKKR')
            </script>
</body>

</html>